{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block h1 %} <h1>Réservation</h1>{% endblock %}

{% block body %}
<div class="main">

<div class="toto">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/flash/{{ reservation.flash.photo }}" >
          <span class="card-title black"> Réservation : {{ reservation.flash.name }} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ path('admin_reservation_edit', {'id': reservation.id}) }}"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">

        <table class="table">
            <tbody>
                <tr>
                    <th>Prénom</th>
                    <td>{{ reservation.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ reservation.lastname }}</td>
                </tr>
                <tr>
                    <th>Pronom</th>
                    <td>{{ reservation.pronoun }}</td>
                </tr>
                <tr>
                    <th>Est majeur? </th>
                    <td>{{ reservation.major ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>FirstTatoo</th>
                    <td>{{ reservation.firstTatoo ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ reservation.location }}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{ reservation.size }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Accepted</th>
                    <td>{{ reservation.accepted ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
       </div>
      </div>
    </div>
  </div>
</div>

    <a href="{{ path('admin_reservation_index') }}">Retour</a>

    {{ include('admin/reservation/_delete_form.html.twig') }}
</div>
{% endblock %}
