{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}
{% block h1 %} <h1>Gérer mes catégories</h1>{% endblock %}
{% block body %}

<div class="main">

     <a href="{{ path('category_new') }}" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">add</i></a>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>  <img class="activator img-index" src="{{ vich_uploader_asset(category) }}"></td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>

                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
